/* styles.css */

/* Style for the custom dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    border: 0;
    padding: 0px;
}

.drop-button {
    background-color: #004288;
    color: #fff;
    padding: 3% 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: small;
}
/* Style for the dropdown toggle button */
.dropdown-toggle {
    background-color: #5C8374;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu-open {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    background-color: #2b2b2b;
    padding: 4px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;

}
/* Style for the dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #5C8374;
    padding: 4px;
    max-height: 200px;
    overflow-y: auto;
}

/* Show the dropdown menu when the dropdown button is clicked */

/* Style for the checkbox labels within the dropdown menu */
.checkbox-label {
    display: flex;
    margin-bottom: 0px;
    font-size: 8px;
}

.checkbox-label input[type="checkbox"] {
    margin-top: 1px;
    margin-right: 6px;
}
