@keyframes shake {
  0%,
  50% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg); /* You can adjust the degree as desired */
  }
  75% {
    transform: rotate(1deg);
  }
}

.shake-animation {
  animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform-origin: center; /* Ensure rotation happens from the center */
}
